/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h4, .input-text-font{
    font-family: 'PT Sans', sans-serif;
}
